<!--This is the body of the configuration file for this class.-->
<CreditApplication Table="CreditApplication" Type="server.Acme.Financial.CreditApplicationObject, server.Acme.Financial" BaseTransform="Templates/Acme" ExtranetDefault="Generic">
	<Statements>
		<!--Custom Statements go here-->
	</Statements>
	<Filters>
		<!--Custom Filters go here-->
	</Filters>
	<SearchTerms>
		<SearchTerm Name="CreditApplicationID" Table="CreditApplication" Column="CreditApplicationID" Clause=" SELECT CreditApplication.CreditApplicationID, Term.Row, 10, 'CreditApplication', CreditApplicationID, 'CreditApplicationID', CreditApplication.CreditApplicationID FROM @Term AS Term  INNER JOIN CreditApplication WITH (NOLOCK)   ON CreditApplication.CreditApplicationID = Term.Term WHERE Term.Words = 1  AND ISNUMERIC(Term.Term) = 1 " />
		<SearchTerm Name="CreditApplication" Table="CreditApplication" Column="CreditApplication" Clause=" SELECT CreditApplication.CreditApplicationID, Term.Row, 10, 'CreditApplication', CreditApplicationID, 'CreditApplication', CreditApplication.CreditApplication FROM @Term AS Term  INNER JOIN CreditApplication WITH (NOLOCK)   ON CreditApplication.CreditApplication LIKE Term.Term + '%' WHERE Term.Words = 1 " />
		<!--Custom Search Terms go here-->
	</SearchTerms>
</CreditApplication>